.lines-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 5px;
}

@media (min-width: 768px) {
  .lines-container {
    grid-template-columns: 1fr 1fr;
  }
}

.line {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  border: 1px solid #ccc;
  border-radius: 6px;
  min-height: 80px;
}

.line-name {
  flex: 0 0 150px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  justify-content: center;
  text-align: left;
}

.line-statuses {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.5rem;
}

.line-colour {
  width: 6px;
}

.button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
}
